.singers-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.singer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border-right: 2px solid white;
    margin-right: 5px;
    margin-left: 50px;
    color: white;
}
.selected-singer{
    color: white;
    text-align: center;
    margin-left: 20px;
}